@value for-phone-only: (max-width: 599px);
@value for-tablet-portrait-up: (min-width: 600px);
@value for-tablet-landscape-up: (min-width: 900px);
@value for-desktop-up: (min-width: 1200px);
@value for-big-desktop-up: (min-width: 1800px);