@import '../../styles/colors/colors.scss';
@import '../../styles/variables/variables.scss';
@value for-tablet-portrait-up from '../../styles/breakpoints/_breakpoints.scss';

$grade-colors: (
  A: #A9D161,
  B: #E7B92E,
  C: #E5862E,
  D: #E15825,
  F: #DF4025
);

@each $color-name, $color-value in $grade-colors {
  .grade__color--#{$color-name} {
    background: linear-gradient(45deg, lighten($color-value, 5%), $color-value);
  }
}

.rank {
  margin: 0 auto;
  padding: 20px 0;
  max-width: $container;

  &__header {
    padding: 0 0 20px;
    text-align: center;
  }

  &__title {
    font: $intro-bold;
    font-size: 18px;
    letter-spacing: -.025em;

    @media for-tablet-portrait-up {
      font-size: 28px;
    }
  }

  &__body {
    padding: .25em 0 0;
    line-height: 1;

    @media for-tablet-portrait-up {
      font-size: 18px;
    }
  }

  &__chart {
    position: relative;
  }

  &__group {
    position: relative;
    list-style: none;
  }

  &__indicator {
    z-index: 20;
    position: absolute;
    transition: all 1s ease-out;
  }

  &--column {
    padding: 20px 75px;

    .rank__chart {

      @media for-tablet-portrait-up {
        margin: 0 auto;
        max-width: 600px;
      }
    }

    .rank__group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;
      padding: 14px 12px 10px;

      + .rank__group {
        margin-top: 5px;
      }
    }

    .rank__percentage {
      width: 90px;
    }
  
    .rank__status {
      width: 100px;
    }

    .rank__range {
      text-align: right;
    }

    .rank__grade {
      display: none;
    }

    .rank__indicator {
      font: $intro-bold;
      color: $white;
      background: $black;
      padding: 13px 20px 9px 15px;
      height: 42px;
      width: 65px;
      text-align: center;
      bottom: 0;
      right: -75px;
      
      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        left: -21px;
        top: 0;
        width: 0; 
        height: 0; 
        border-top: 21px solid transparent;
        border-bottom: 21px solid transparent; 
        border-right:21px solid $black; 
        z-index: -1;
      }

      &--F {
        bottom: 0;
      }

      &--D {
        bottom: 47px;
      }

      &--C {
        bottom: 94px;
      }

      &--B {
        bottom: 141px;
      }

      &--A {
        bottom: 188px;
      }
    }
  }

  &--row {

    .rank__chart {
      margin: 15px 0;
      display: flex;
      flex-direction: row-reverse;
    }

    .rank__group {
      position: relative;
      width: 100%;
      padding: 5px;
      border-radius: 5px;

      &--F {
        width: 54.545%;
      }

      &--D {
        width: 10.182%;
      }

      &--C {
        width: 11.091%;
      }

      &--B {
        width: 12.727%;
      }

      &--A {
        width: 12.545%;
      }

      + .rank__group {
        margin-right: 5px;
      }
    }

    .rank__percentage,
    .rank__status {
      display: none;
    }

    .rank__range {
      font-size: 8px;
      position: absolute;
      bottom: -15px;
      left: 0;

      &--max,
      &--seperator {
        display: none;
      }
    }

    .rank__indicator {
      top: -15px;
      left: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      overflow: hidden;
      text-indent: -9999px;
    }
  }
}