@font-face {
  font-family: 'Intro Regular';
  src: url('/fonts/introRegular.woff2') format('woff2'),
       url('/fonts/introRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Bold';
  src: url('/fonts/introBold.woff2') format('woff2'),
       url('/fonts/introBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Reset margin, padding, border
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

// Layout
html {
  font: $intro-reg;
  background: $blue;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  background: $white;
  min-height: 100vh;
  overflow: hidden;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

// Typography
* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

p {
  line-height: 2;
}

b,
em,
strong {
  font: $intro-bold;
}

small {
  font-size: 12px;
  line-height: 1.5;
  display: inline-block;
}

ol,
ul {
  list-style: none;
}

// Elements
article,
aside,
nav,
footer,
header,
section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  display: inline-block;
}

img,
video {
  max-width: 100%;
  vertical-align: bottom;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

img {
  border-style: none;
}

q,
blockquote {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

button {
  border: 0;
  padding: 0;
  appearance: none;
  outline: inherit;
  cursor: pointer;
  background: transparent;
}

// Attributes & states
[hidden],
.hidden{
  display: none !important;
}

[disabled],
.disabled {
  cursor: not-allowed;
}

:focus {
  outline: 0;
  box-shadow: 
    0 0 0 2px #5bbce4,
    inset 0 0 0 2px #5bbce4;
}

:focus:not(:focus-visible) {
  outline: 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.001s !important;
    transition-duration: 0.001s !important;
  }
}