// Standard
@keyframes reveal {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

// Directional
@keyframes fromTop {
  0% {
    opacity: 0;
    transform: translate(0, -25%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translate(25%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translate(0, 25%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translate(-25%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}