@import '../../styles/colors/colors.scss';
@import '../../styles/variables/variables.scss';
@import '../../styles/mixins/mixins.scss';

.spacer {
  margin-top: 60px;
}

.header {
  color: $black;
  background: $white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  text-align: center;
  transition: all $trans-out;

  .container {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    position: absolute;
    top: 8px;
    left: 10px;
    height: 50px;
    transition: height $trans-in;
  }

  svg path,
  svg rect {
    fill: $blue;
    transition: fill $trans-out;
  }

  &__menu {

    li {
      cursor: pointer;
    }

    &--alpha {
      display: flex;
      
      > li {
        font: $intro-bold;
        margin: 0 10px;
        padding: 20px 10px;
        position: relative;
        z-index: 9999;
        transition: all $trans-out;

        &:hover,
        &:focus {
          box-shadow: inset 0 -5px 0 $yellow;
          transition: box-shadow $trans-in;

          > ul {
            display: block;
            animation: fromTop ease-out .15s;
          }
        }
      }
    }

    &--beta {
      display: none;
      font: $intro-reg;
      z-index: 1;
      min-width: 200px;
      color: $black;
      background: $white;
      padding: 20px;
      border-radius: 2px;
      position: absolute;
      left: -20px;
      top: 60px;
      text-align: left;
      box-shadow: 0 0 10px rgba($black, .1);

      > li {
        margin: 0 10px;
        padding: 10px 0;
        
        a {
          @include link($yellow);
        }
      }
    }
  }

  &__button {
    font: $intro-bold;
    text-decoration: none;
    color: $white;
    background: $green;
    padding: .75em 2em .65em;
    border-radius: 2em;
    position: absolute;
    right: 7px;
    transition: all $trans-out;
  
    &:focus,
    &:hover,
    &:active {
      color: $white;
      background: $blue;
      transition: all $trans-in;
    }
  }

  &--transparent {
    color: $white;
    background: transparent;

    svg path,
    svg rect {
      fill: $white;
      transition: fill $trans-out;
    }

    .header__menu--alpha {

      > li {
        padding: 28px 10px;
        transition: padding $trans-in;
      }
    }

    .header__menu--beta {
      top: 76px;
      transition: top $trans-in;
    }
  }

  &--scrolled {
    background: $white;
    color: $black;
    box-shadow: 0 0 10px rgba($black, .1);
    transition: all $trans-in;

    svg path,
    svg rect {
      fill: $blue;
      transition: fill $trans-in;
    }

    .header__logo {
      height: 40px;
      transition: height $trans-in;
    }

    .header__menu--alpha {

      > li {
        font: $intro-reg;
        padding: 20px 10px;
        transition: padding $trans-in;
      }
    }

    .header__menu--beta {
      top: 60px;
      transition: top $trans-in;
    }

    .header__cta {
      color: $white;
    }
  }
}