// Type
$intro-reg: 100% 'Intro Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$intro-bold: 100% 'Intro Bold', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

// Animations
$trans-in: .075s ease-out;
$trans-out: .125s ease-out;

// Elements
$container: 1200px;
