@import '../../styles/colors/colors.scss';
@import '../../styles/variables/variables.scss';
@import '../../styles/mixins/mixins.scss';
@value for-tablet-landscape-up from '../../styles/breakpoints/_breakpoints.scss';

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  text-align: left;
  background: linear-gradient(45deg, darken($blue, 5%), $blue);
  color: $white;
  border-top: 5px solid $yellow;
}

.container {
  width: 100%;
  max-width: 900px;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.social {
  display: none;
}

.title {
  font: $intro-bold;
  font-size: 24px;
  color: $yellow;
  display: inline-block;
  margin: 0 0 10px;

  @media for-tablet-landscape-up {

    &:focus {
      box-shadow: none;
    }
  }
}

.link {
  @include link(darken($blue, 12.5%));
  font-size: 18px;
  margin: 0 0 10px;
}

.copyright {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 0 0;
  text-align: center;
}
