// TODO: move into individual components
@mixin link($underline: $blue) {
  text-decoration: none;
  position: relative;
  display: inline-block;
  line-height: 1;
  z-index: 5;
  cursor: pointer;

  &:before {
    content: '';
    width: calc(100% + .4em);
    height: .4em;
    opacity: 0;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: -.2em;
    background: $underline;
    z-index: -1;
    transition: opacity $trans-out;
  }

  &:hover,
  &:focus,
  &.active {
    box-shadow: none;
    //background-image: linear-gradient(to top, $underline 0, $underline .35em, transparent .35em, transparent 100%);
    //background-position: 0 -1px;

    &:before {
      opacity: 1;
      transition: opacity $trans-in;
    }
  }
}