@import '../../styles/colors/colors.scss';
@import '../../styles/variables/variables.scss';
@value for-tablet-portrait-up, for-tablet-landscape-up from '../../styles/breakpoints/_breakpoints.scss';

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $white;
  overflow: hidden;
  padding: 10px;
  background: linear-gradient(45deg, $blue, darken($blue, 5%));
  min-height: 100vh;
  width: 100%;

  @media for-tablet-portrait-up {
    padding: 15px;
  }
  
  @media for-tablet-landscape-up {
    padding: 20px;
  }
}

.background {

  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    height: 100vh;
    width: 100vh;
    top: -50vh;
    left: -35vh;
    z-index: 2;
    border-radius: 50%;
    border: 10vh solid darken($blue, 5%);
  }
}

.container {
  max-width: 900px;
  z-index: 10;
}

.title {
  font: $intro-bold;
  font-size: 40px;
  letter-spacing: -.025em;

  @media for-tablet-portrait-up {
    font-size: 60px;
  }

  @media for-tablet-landscape-up {
    font-size: 6vw;
  }
}

.body {
  font-size: 20px;
  line-height: 1;

  @media for-tablet-portrait-up {
    font-size: 30px;
  }

  @media for-tablet-landscape-up {
    font-size: 3vw;
  }
}

.stamp {
  position: absolute;
  z-index: 5;
  height: 100vh;
  width: 100vw;
  bottom: -25vh;
  right: -30vw;

  path {
    fill: $blue; 
  }
}
